*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bada55;
  margin: 0 auto;
  width: 480px;
}

video,
.video-container {
  height: 360px;
}

.video-container {
  position: relative;
}

.video-container:hover {
  cursor: pointer;
}

.video-container:hover:before {
  background-color: transparent;
  border: 10px solid #FFF;
  content: 'Take a picture!';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.absolutly {
  position: absolute;
  left: 0;
  visibility: hidden;
  top: 0;
}

.taken-picture {
  float: left;
}
